@use "../settings/colors" as color;
@use "./card__body";
@use "./card__list";
@use "./container";

.main__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem;
  background-color: color.$secondary-color;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .main__card {
    width: 80vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .main__card {
    width: 50%;
    margin: 0 auto;
  }
}