@use "../settings/colors" as color;

.card__list {
  width: 100%;


  .list__item {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid color.$sixth-color;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    .list__options {
      display: inline;
      color: color.$fifth-color;

      .fa-pen {
        margin-right: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .card__list {
    .list__item {
      width: 80%;
    }
  }
}